*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container #butao-pesquisa {
    width: 100%;
    max-width:80px;
    padding: 10px;
    margin: 20px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container #butao-pesquisa:hover {
    opacity: 0.9;
}

.pesquisa-filme {
    width: min(80%, 600px);
    padding: 20px;
}

.pesquisa-filme input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}